<%= @name %>
<%= @employment_status %>
<%= @earnings %>


<br>
<br>
  <%= p "Anywhere Card
    Apr: 33.9%
    Balance Transfer Offer Duration: 0 months
    Purchase Offer Duration: 0 Months
    Credit Available: £300" %>
  <form>
    <input type="checkbox" id="anywhere_card" name="anywhere_card" value="anywhere_card">
    <label for="anywherecard">Anywhere Card</label>
  </form>
  <br>
  <br>
  <% if @employment_status == 'student' %>
  <div id = 'student'>
    <%=@studentlife[0]%>
  <form>
    <input type="checkbox" id="student_life" name="student_life" value="student_life">
    <label for="studentlife">Student Life</label>
  </form>
  </div>
  <%end%>
  <br>
  <br>
  <% if @earnings >= 16000%>
  <div id='liquid'>
    <%= @liquidcard[0] %>
  <form>
    <input type="checkbox" id="liquid_card" name="liquid_card" value="liquid_card">
    <label for="liquidcard">Liquid Card</label>
  </form>
  </div>
  <% end%>
